.background-image {
  height: 100vh;
  background-image: url("/images/background1.png");
  background-repeat: no-repeat;
  background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
  background-position: center; /* ปรับตำแหน่งพื้นหลัง */
}

/* @media screen and (min-width: 1440px) {
  .background-image {
    background-position: center -5vw;
  }
} */
